.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 20px;
}

.btn {
  all: unset;
  cursor: pointer;
  padding: 5px 5px;
}

.btn_active {
  border: 1px solid gray;
}
